body#rex-page-editme div.rex-form,
body#rex-page-editme table.rex-table {
  border: 0;
  -moz-outline-radius-bottomleft: 4px;
  -moz-outline-radius-bottomright: 4px;
  -moz-outline-radius-topleft: 4px;
  -moz-outline-radius-topright: 4px;
  outline: 1px solid #CBCBCB;
  }
#rex-page-editme input.submit {
  background-image: url(../be_style/plugins/agk_skin/button.gif);
  background-repeat: repeat-x;
  padding: 2px 6px;
  border: 0;
  -moz-outline-radius-bottomleft: 4px;
  -moz-outline-radius-bottomright: 4px;
  -moz-outline-radius-topleft: 4px;
  -moz-outline-radius-topright: 4px;
  outline: 1px solid #CBCBCB;
  }
#rex-xform div.rex-widget {
  clear:none;
  float:left;
  display:block;
  margin:0px;
  width:390px;
  /*margin-left:245px;*/
  }
#rex-xform div.rex-widget input.text {
  width:330px;
  }
#rex-xform div.rex-widget select{
  width:335px;
  }
div#rex-title h1 span {
  color:#CBCBCB;
  font-size:0.5em;
  }

body#rex-page-xform .xform-manager-searchfield{
  background:silver;
  color:white;
  padding:3px;
  border-radius:5px;
  margin:1px;
  display:inline-block;
  
}

